.download {
    max-height: 100vh;
    display: block;
    margin: auto;
    padding-top: 1vh;
}
h1 {
    display: block;
    text-align: center;
    margin: auto;
    max-height: 100vh;
    color: white;
}

body {
    background-color: rgb(12, 41, 41);
}

.sidebar {
    position: fixed;
    background-color: rgba(47, 41, 65, 1);
    height: 75%; top: 15%;
    width: fit-content;
    border-right: 0.5vh solid rgb(0, 0, 0);
    border-top: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
    padding-right: 1.5vw;
    padding-left: 1vw;
    size: 100%;
    left: 0;
    z-index: 5;
    text-align: center;
}
.sidebar a{
    text-decoration: none;
    color: white;
}