.aboutbox {
   display: inline-block; position: relative;
   top: 150px;
   margin: auto;
   width: 30%;
   border: 1px solid #ffffff;
   padding: 10px;
   color: white;
   background-color: rgba(63, 7, 116, 0.1);
   z-index: 2; /* there is a black box that appears if you don't fix the Z indexs. I have literally on idea where it is from or how to fix it but it MIGHT be from a container...*/
}

.aboutbox p {
   font-size: 20px;
   padding-bottom: 20px;
}

/*DEPRICATED / WAS BROKEN AT TIME so i got rid of it*/
.aboutpic {
   position: relative; display: inline-block;
   float: right;
   right: 50px;
   bottom: 30px;
   border-radius: 50%;
   z-index: 2;
}

/*TABLE STUFF=====================================*/

.table{
   bottom: 160px;
   display: inline-block; position: relative;
   margin: auto;
   left: 50px;
   width: 30%;
   text-align: center;
   background-color: rgba(31, 52, 71, 0.5);
   z-index: 2;
}

table, th, td {
   color: white;
   border: 1px solid rgb(255, 255, 255);
   z-index: 3;
}
th {
   padding-top: 25px;
   padding-bottom: 25px;
   font-size: 250%;
}

td {
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 15px;
   padding-right: 15px;
   font-size: 18px;
}

.label {
   font-size: 25px;
}

/*about page setup======================something is broken but im not sure what...?*/

.bgimg {
   top: 0px;
   z-index: 1;
}

.aboutlinks {
   display: inline-block;
}

.aboutblog, .aboutprojects, .aboutcontact {
   border: none;
   background-color: white;
   color: black;
   padding: 14px 28px;
   bottom: 100px;
   z-index: 4;
   position: relative;
}

.aboutblog:hover, .aboutprojects:hover, .aboutcontact:hover {
   background-color: greenyellow;
   color: white;
}
