/*Blog content ===============================================================*/

.blogbox {
width: 60vw;
height: 30vh fit-content;
padding: 5vh;
border: 1vh solid rgba(255, 255, 255, 0.763);
position: relative;
margin: auto;
background-color: rgba(44, 48, 56, 0.782);
}

.emptyspace {
display: block;
height: 1vh;
padding-top: 1vh;
}

.emptyspacetop {
display: block;
height: 12vh;
padding-top: 1vh;
}

.emptyspacebottom {
display: block;
height: 5vh;
padding-top: 1vh;
}

.blogheader {
font-size: 2vh;
color: white;
position: relative;
bottom: 2vh;
font-weight: bold;
}

.skiplink {
    text-decoration: none;
    color: white;
}

.gallery ,figure, .blogcontent2{
    display: inline-block;
    border: 1px solid hsl(0, 0%, 60%);
    margin: 5px;
    width: 200px;
}

.gallery img, figure img{
    width: 100%;
    height: auto;
    
}

.blogcontent2, .blogcontent, figcaption, .desc {
    color: white;
    border: none;
    width: 100%;
}