/*Blog content ===============================================================*/

.blogbox {
width: 60vw;
height: 30vh fit-content;
padding: 5vh;
border: 1vh solid rgba(255, 255, 255, 0.763);
display: block;
position: relative;
margin: auto;
background-color: rgba(44, 48, 56, 0.782);
}

.emptyspace {
display: block;
height: 1vh;
padding-top: 1vh;
}

.emptyspacetop {
display: block;
height: 12vh;
padding-top: 1vh;
}

.emptyspacebottom {
display: block;
height: 5vh;
padding-top: 1vh;
}


.blogbox img {
display: inline-block;
height: 30%;
width: 30%;
object-fit: contain;
}

.skiplink {
    text-decoration: none;
    color: white;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}